
<table class="instruction-table">
  <thead>
    <tr>
      <th scope="col" class='condition'>Match State</th>
      <th scope="col" class='condition'>Match Value</th>
      <th scope="col">New Value</th>
      <th scope="col">Tape Move</th>
      <th scope="col">New State</th>
    </tr>
  </thead>
  <tbody>
    {{#each instructionsCollection as |instruction|}}
    <tr>
      <td class='condition'>{{extract instruction 'state'}}</td>
      <td class='condition'>{{extract instruction 'trigger'}}</td>
      <td>{{extract instruction 'value'}}</td>
      <td>{{extract instruction 'move'}}</td>
      <td>{{extract instruction 'newState'}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
