<ul class="tape" style={{tapeMovement}}>
  {{#each cells as |value index|}}
    <li class="cell {{cell-position index}} {{if (eq index activeCell ) 'active'}}">
      {{value.value}}
    </li>
  {{/each}}
</ul>

<div class="cell-holder"></div>

<div class="state-holder">
  {{state}}
</div>
