{{#mdl-nav title='Turing Simulator' fixedHeader=true}}

  {{mdl-nav-item name='Visualizer' route='application'}}

  <section class="main">

    {{instruction-list instructions=instructions}}

    <div class="actions">
      {{#mdl-button isRaised=true click=(perform play)}}
        {{#if play.isIdle}}
          Play
          {{else}}
          Playing...
        {{/if}}
      {{/mdl-button}}

      {{#mdl-button isRaised=true click=(perform playAll)}}
        {{#if playAll.isIdle}}
          Play All
        {{else}}
          Playing All...
        {{/if}}
      {{/mdl-button}}

      {{mdl-button text='Reset' action='reset'}}
    </div>

    {{turing-tape cells=cells tapePosition=tapePosition state=currentState}}

  </section>

{{/mdl-nav}}
