<header>Turing Player</header>

<section class="main">

  {{instruction-list instructions=instructions}}

  <div class="actions">
    <button type="button" name="button" {{action "play"}}>PLAY</button>
    <button type="button" name="button" {{action "down"}}>LEFT</button>
    <button type="button" name="button" {{action "up"}}>RIGHT</button>
  </div>

  {{turing-tape cells=cells tapePosition=tapePosition state=currentState}}

</section>
